# Python
__pycache__/
*.pyc
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Local script config and generated cluster config
scripts/config.env
infra/eksctl/cluster-config.generated.yaml
gitops/argocd/application-prod.generated.yaml

# OS/editor
.DS_Store
Thumbs.db
