# Copy this file to scripts/config.env and fill your values.
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=123456789012
CLUSTER_NAME=devops-assessment-eks
ECR_REPOSITORY_NAME=flask-kafka-app
IMAGE_TAG=0.1.0
K8S_NAMESPACE=assessment
HELM_RELEASE_NAME=flask-kafka-app
NODE_TYPE=t3.medium
NODE_COUNT=2
GIT_REPO_URL=https://github.com/Tebza17/BMW_Flask_Assignment.git
